* {
    -webkit-tap-highlight-color: transparent;
  }
  .majorContainer {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .majorContainer {
      display: block;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30vw;
      height: 54px;
      width: 100vw;
      position: fixed;
      bottom: 0px;
      border-top: 1px solid #000000a6;
      background-color: #fff;
    }
    .home {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 54px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      color: #000;
      font-size: 24px;
    }
    .home a {
      color: #000;
      outline: none;
    }
    .home:active {
      background-color: rgba(0,0,0, 0.5);
      color: rgba(255, 255, 255, 0.863);
      transition-duration: 0.1s;
    }
    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 54px;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      color: #000;
      font-size: 24px;
    }
    .user a {
      color: #000;
      outline: none;
    }
    .user:active {
        background-color: rgba(0,0,0, 0.5);
        color: rgba(255, 255, 255, 0.863);
      transition-duration: 0.1s;
    }
    .btnCtn {
      position: fixed;
      display: flex;
      justify-content: center;
      z-index: 100;
      bottom: 54px;
      width: 100vw;
      height: 26px;
    }
    .btnCtn a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      border: none;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      font-size: 28px;
    }
    .btnCtn a:active {
        background-color: rgba(0,0,0, 0.5);
        color: rgba(255, 255, 255, 0.863);
      transition-duration: 0.1s;
    }
  }
  