.majorContainer {
    background: #1e1e1e;
    color: #ffffff;
    min-height: calc( 100vh - 10px);
  padding-top: 10px;
  transition-duration: 0.4s;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro logo";
    gap: 5px;
    height: calc(100vh - 70px);
  }
  .introUploader {
    grid-area: "intro";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logoContainer {
    grid-area: "logo";
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  /*--------inner page routing part--------*/
  
  .intro {
    text-align: left;
    margin-left: 17%;
    margin-top: -20px;
    width: 83%;
  }
  .intro h1 {
    font-family: "Montserrat";
    font-size: 45px;
    font-weight: bolder;
    line-height: 54px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 10px;
  }
  .intro p {
    margin: 0px;
    text-align: justify;
    font-family: "Montserrat";
    margin-left: 4px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    color: #ffffffc5;
  }
  .buttonContainer {
    text-align: center;
    margin-top: 50px;
    width: 70%;
  }
  .buttonContainer button {
    background-color: #ffffff;
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 35px;
    padding-bottom: 9px;
    padding-right: 25px;
    border: none;
    border-radius: 100px;
    transition-duration: 0.4s;
  }
  .buttonContainer button img {
    height: 14px;
    width: 0px;
    opacity: 0;
    margin-left: 10px;
    transition-duration: 0.4s;
  }
  .buttonContainer button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 0.4s;
    padding-left: 22px;
    padding-right: 18px;
    box-shadow: 0px 0px 10px 0px #bebebe;
  }
  .buttonContainer button:hover img {
    opacity: 1;
    width: 20px;
  }
  .waveCtn {
    width: 100%;
    mix-blend-mode: lighten;
  }
  
  .forAnimation {
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e93;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading {
    width: 17%;
    mix-blend-mode: lighten;
  }
  .phnwv {
    display: none;
  }
  .logo{
    width: 170px;
    animation: floating 3s ease-in-out infinite;
  }
  
  @keyframes floating{
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(0deg);
    }
  
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .sym{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
  }
  .sym h2{
    font-size: 170px;
    margin: 0px;
  }
  .content{
    font-size: 24px;
    width: 70%;
    text-align: justify;
  }
  
  @media screen and (max-width: 1000px) {
    .waveCtn {
      height: 80vh;
    }
  }
  
  @media screen and (max-width: 880px) {
    .loading {
      width: 22%;
      mix-blend-mode: lighten;
    }
  }
  
  @media screen and (max-width: 770px) {
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .logoContainer {
      display: none;
    }
    .loading {
      width: 25%;
      mix-blend-mode: lighten;
    }
  }
  
  @media screen and (max-width: 600px) {
    .phnwv {
      width: 100%;
      height: 50vh;
      margin-top: -120px;
      position: fixed;
      top: 23vh;
      z-index: 1;
      display: block;
      opacity: 0.2;
    }
    .loading {
      width: 33%;
      mix-blend-mode: lighten;
    }
  }
  
  @media screen and (max-width: 480px) {
    .loading {
      width: 38%;
      mix-blend-mode: lighten;
    }
  }
  
  @media screen and (max-width: 380px) {
    .loading {
      width: 48%;
      mix-blend-mode: lighten;
    }
  }
  