[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
Flask-Cors = "*"
summa = "*"
nltk = "*"
textract = "*"
gunicorn = "*"
scikit-learn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
