argcomplete==1.10.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.8.0
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cors==1.0.1
distlib==0.3.2
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
IMAPClient==2.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
lxml==4.6.3
MarkupSafe==2.0.1
nltk==3.6.2
numpy==1.21.0
olefile==0.46
packaging==20.9
pdfminer.six==20181108
Pillow==8.2.0
pipenv==2021.5.29
platformdirs==2.0.2
pluggy==0.13.1
py==1.10.0
pycryptodome==3.10.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.4
python-pptx==0.6.18
pytz==2021.1
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
scipy==1.5.4
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
summa==1.2.0
textract==1.6.3
tldextract==3.1.0
toml==0.10.2
tqdm==4.61.0
tzlocal==1.5.1
urllib3==1.26.6
virtualenv==20.5.0
virtualenv-clone==0.5.4
Werkzeug==2.0.1
xlrd==1.2.0
XlsxWriter==1.4.3
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
transformers==4.17.0
transformers[sentencepiece]==4.17.0
spacy==3.2.4
